<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>KTM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <fieldset>
        <Center><h1>Kartu Tanda Mahasiswa</h1></center>
        <hr/>
            <l th:text="${paket1}"></l></p>
            <br/>
            <l th:text="${paket2}"></l></p>
            <br/>
            <l th:text="${paket3}"></l></p>
            <br/>
            <l th:text="${paket4}"></l></p>
            <br/>
            <center><img th:src="${paket5}"/></center>
        </fieldset>
    </body>
</html>
