<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>KTM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <style>
            fieldset{
                width: 550px;
                margin:  0px auto;
            }
            img {
                float: right;
                width: 154px;
                high: 272px;
            }
            #logo {
                float : left;
                width : 50px;
                height: 70px;
            }
        </style>
        <fieldset>
            <img src="umy.png" id="logo"/>
        <Center><h1>Kartu Tanda Mahasiswa</h1></center>
        <hr/>
            <img th:src="${paket5}"/>
            <h3 th:text="${paket1}"></h3>
            <l th:text="${paket3}"></l>
            <br/><br/>
            <l th:text="${paket2}"></l>
            <br/><br/>
            <l th:text="${paket4}"></l>
            <br/><br/>
            <b><l th:text="${paket6}" style="color: darkblue"><b></l>
        </fieldset>
    </body>
</html>
